/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

// CUSTOM
html body {
    background: rgb(141, 205, 205);
    background: linear-gradient(304deg, rgba(141, 205, 205, 1) 0%, rgba(154, 251, 236, 1) 34%, rgba(222, 241, 239, 1) 93%);
    font-family: 'Prompt', sans-serif !important;
}

.header-navbar {
    font-family: 'Prompt', sans-serif !important;
}

.navigation {
    font-family: 'Prompt', sans-serif !important;
}

a {
    color: #54beb6
}

a:hover {
    color: #459b94
}

.text-main-color {
    color: #171B26;
}

.main-color {
    color: #54beb6 !important;
}

.text-primary {
    color: #54beb6 !important;
}

.main-bk-color {
    background-color: #54beb6;
}

.main-btn-color {
    border-color: #54beb6;
    background-color: #54beb6;
    color: #fff !important;
}

.btn-main-color {
    border-color: #54beb6;
    background-color: #54beb6;
    color: #fff;
}

.btn-main-color.active,
.btn-main-color:active {
    border-color: #4aa79f;
    background-color: #4aa79f;
    color: #fff;
}

.btn-main-color:hover,
.btn-main-color:focus {
    border-color: #4aa79f;
    background-color: #4aa79f;
    color: #fff;
}

.card .card-header {
    padding: 1rem;
    background-color: #54beb6 !important;
}

.card-body-custom {
    padding: 1.5rem !important;
}

.main-menu.menu-light .navigation>li.active>a {
    background: linear-gradient(118deg, #54beb6, rgba(84, 190, 182, 0.7));
    box-shadow: 0 0 10px 1px rgb(84 190 182 / 70%);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #54beb6;
    color: #54beb6;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #54beb6;
    text-decoration: none;
    background-color: rgba(84, 190, 181, 0.12);
}

.tableFixHead {
    height: calc(100vh - 356px);
    overflow-y: auto;
}

.tableFixHead thead th {
    z-index: 1;
}

.tableFixHead thead.color-bk-main tr th {
    background-color: #54beb6 !important;
    position: sticky;
    top: 0!important;
}

.table thead th,
.table tfoot th {
    text-transform: unset
}

.tableFixHead thead.top-search tr th {
    top: 37px!important;
}

.input-group-icon {
    position: relative;
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.breadcrumb-item,
.active {
    color: rgb(79, 80, 80);
}

.header-navbar .navbar-container ul.navbar-nav li a.dropdown-user-link .user-nav {
    float: right;
    margin-right: 0;
}

.header-navbar .navbar-container ul.navbar-nav li a.dropdown-user-link .user-name {
    margin-bottom: 0;
    margin-left: 0.7rem
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.radius-40 {
    border-radius: 40%;
}

.modal .modal-header {
    background-color: #54beb6;
}

.form-control:focus,
.form-control:active {
    border: 1px solid #54beb6;
}